body {
  background-color:lavender;
}

hr {
  background-color: lavender;
  border-style: dotted none none none;
  border-top-color: silver;
  border-width: 4px;
  width: 4%;
}

img {
  height: 300px;
  width: 200px;
}

h1 {
  color: #3c4245;
}

h2 {
  color: #3c4245;
}

h3 {
  color: #3c4245;
}
